*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

:root{
    /* Background colors */
    --bg-primary-color: #1c1c1c;

    /* Text Colors */
    --text-primary-color: #f0f0f0;
}

html{
    background-color: var(--bg-primary-color);
    color: var(--text-primary-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

